/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/
 *
 * Copyright (C) 2008-2021, Peter Johnson (gravatar.com/delphidabbler).
 *
 * Resource file for HTML Resource Compiler. Includes all required resources
 * except version information.
 */


/* Manifest file */
1 24 "HTMLRes.manifest"
